Creating DataFrames

In [3]:
import pandas as pd

From Dictionary

In [2]:
data = { "Name":  ['Carl', 'Carol', 'Cas'],
         "Age":   [43,        23,     30],
         "Score": [123,     168,    14]
        }

In [3]:
pd.DataFrame(data)

    Name  Age  Score
0   Carl   43    123
1  Carol   23    168
2    Cas   30     14

From List of Lists

In [1]:
data = [['Carl',    43,     123],
        ['Carol',   23,     160],
        ['Cas',     30,     140]]

In [4]:
df = pd.DataFrame(data)

In [5]:
pd.DataFrame(data, columns=['Name', 'age', 'score'])

    Name  age  score
0   Carl   43    123
1  Carol   23    160
2    Cas   30    140

From File

In [6]:
file_path = 'data/business-employment-data-march-2023-quarter-industry-revisions.csv'
pd.read_csv(file_path)

,quarter,SER_REF,industry_code,industry_name,filled jobs,filled jobs revised,filled jobs diff,filled jobs % diff,total_earnings,total earnings revised,earnings diff,earnings % diff
0,2020.09,BDCQ.SEA1AA,A,"Agriculture, Forestry and Fishing",93195,93706,511,0.5,1205,1212,7,0.6
1,2020.09,BDCQ.SEA1BA,B,Mining,5340,5355,15,0.3,145,145,0,0.0
2,2020.09,BDCQ.SEA1CA,C,Manufacturing,217139,218967,1828,0.8,3791,3823,32,0.8
3,2020.09,BDCQ.SEA1DA,D,"Electricity, Gas, Water and Waste S",19886,20060,174,0.9,493,498,5,1.0
4,2020.09,BDCQ.SEA1EA,E,Construction,166413,168095,1682,1.0,2873,2906,33,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...
195,2022.12,BDCQ.SEA1PA,P,Education and Training,200765,202179,1414,0.7,3363,3382,19,0.6
196,2022.12,BDCQ.SEA1QA,Q,Health Care and Social Assistance,254497,257381,2884,1.1,4596,4652,56,1.2
197,2022.12,BDCQ.SEA1RA,R,Arts and Recreation Services,40102,40417,315,0.8,534,539,5,0.9
198,2022.12,BDCQ.SEA1SA,S,Other Services,73051,73296,245,0.3,1037,1042,5,0.5
199,2022.12,BDCQ.SEA1ZA,Z,Total Industry,2233837,2256452,22615,1.0,40646,41068,422,1.0