Selecting Data in a Pandas DataFrame

In [3]:
import pandas as pd
file_path = 'data/business-employment-data-march-2023-quarter-industry-revisions.csv'
df = pd.read_csv(file_path)
df.head(2)

,quarter,SER_REF,industry_code,industry_name,filled jobs,filled jobs revised,filled jobs diff,filled jobs % diff,total_earnings,total earnings revised,earnings diff,earnings % diff
0,2020.09,BDCQ.SEA1AA,A,"Agriculture, Forestry and Fishing",93195,93706,511,0.5,1205,1212,7,0.6
1,2020.09,BDCQ.SEA1BA,B,Mining,5340,5355,15,0.3,145,145,0,0.0

Boolean Mask

In [7]:
mask = [False for _ in range(len(df))]
mask[3:7] = [True] * 4
mask

[False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [9]:
df[mask] #this returns only the rows that has a True value
#df.loc[mask] this could also work

,quarter,SER_REF,industry_code,industry_name,filled jobs,filled jobs revised,filled jobs diff,filled jobs % diff,total_earnings,total earnings revised,earnings diff,earnings % diff
3,2020.09,BDCQ.SEA1DA,D,"Electricity, Gas, Water and Waste S",19886,20060,174,0.9,493,498,5,1.0
4,2020.09,BDCQ.SEA1EA,E,Construction,166413,168095,1682,1.0,2873,2906,33,1.1
5,2020.09,BDCQ.SEA1FA,F,Wholesale Trade,103816,104974,1158,1.1,1867,1892,25,1.3
6,2020.09,BDCQ.SEA1GA,G,Retail Trade,197373,198379,1006,0.5,2160,2173,13,0.6

Creating masks using comparison operators

In [14]:
#mask = df.loc[:, 'filled jobs'] < df.loc[:, 'filled jobs revised']
mask = df.loc[:, 'earnings diff'] > 20
mask

0      False
1      False
2       True
3      False
4       True
       ...
195    False
196     True
197    False
198    False
199     True
Name: earnings diff, Length: 200, dtype: bool

In [15]:
df[mask]

,quarter,SER_REF,industry_code,industry_name,filled jobs,filled jobs revised,filled jobs diff,filled jobs % diff,total_earnings,total earnings revised,earnings diff,earnings % diff
2,2020.09,BDCQ.SEA1CA,C,Manufacturing,217139,218967,1828,0.8,3791,3823,32,0.8
4,2020.09,BDCQ.SEA1EA,E,Construction,166413,168095,1682,1.0,2873,2906,33,1.1
5,2020.09,BDCQ.SEA1FA,F,Wholesale Trade,103816,104974,1158,1.1,1867,1892,25,1.3
9,2020.09,BDCQ.SEA1JA,J,Information Media and Telecommunica,29086,30117,1031,3.5,611,634,23,3.8
10,2020.09,BDCQ.SEA1KA,K,Financial and Insurance Services,60481,61378,897,1.5,1603,1625,22,1.4
...,...,...,...,...,...,...,...,...,...,...,...,...
188,2022.12,BDCQ.SEA1IA,I,"Transport, Postal and Warehousing",88357,90607,2250,2.5,1768,1815,47,2.7
192,2022.12,BDCQ.SEA1MA,M,"Professional, Scientific and Techni",178790,180784,1994,1.1,4283,4328,45,1.1
193,2022.12,BDCQ.SEA1NA,N,Administrative and Support Services,99334,101022,1688,1.7,1448,1472,24,1.7
196,2022.12,BDCQ.SEA1QA,Q,Health Care and Social Assistance,254497,257381,2884,1.1,4596,4652,56,1.2
199,2022.12,BDCQ.SEA1ZA,Z,Total Industry,2233837,2256452,22615,1.0,40646,41068,422,1.0